body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  padding-bottom: 25px;
  text-align: center;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

p {
  padding: 15px;
}

table, table td, table th {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: auto;
}

td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}